.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.8rem 3rem;
}
.categoriesContainer > h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.76rem;
  padding-left: 1rem;
}
.categories {
  display: flex;
  gap: 1.8rem;
}
.productsContainer {
  display: flex;
  overflow-x: hidden;
  gap: 1.8rem;
  /* width: 100vw; */
  padding: 1.8rem 3rem;
}
.listDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}
.listDetails > h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.76rem;
  padding-left: 1rem;
}
.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.controls > button {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: transparent;
}

.controls > p {
  margin: 0;
  color: coral;
  font-weight: 500;
  font-size: 1rem;
}

.controls > p:hover {
  cursor: pointer;
}

.controls > button:hover {
  cursor: pointer;
}
