{
  "extends": [
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": [
    "@tanstack/query"
  ],
  "rules": {
    "@tanstack/query/exhaustive-deps": "error",
    "@tanstack/query/prefer-query-object-syntax": "error"
  }
}
