.container {
  display: flex;
  width: 100%;
}
.googleButton {
  background-color: #fff;
  border: 1px solid #a4a4a4;
  border-radius: 30px;
  width: 100%;
  height: 45px;
  padding: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
}

.googleButton:hover {
  cursor: pointer;
}
