.container {
  display: flex;
}
.bannerSection {
  position: relative;
  z-index: -10;
  width: 70%;
  overflow: hidden;
  filter: blur(1px);
  transition: all 0.5s ease;
}
.formSection {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  flex-direction: column;
  z-index: 10;
  padding: 40px 60px;
  position: relative;
  width: calc(25% + 30px);
  min-width: 500px;
  background-color: var(--auth-background);
  float: right;
  height: calc(100vh - 80px);
  transition: all 0.5s ease;
}
.formHeader {
  align-content: center;
}
.formHeader > * {
  margin: 0;
}
.formHeader > h1 {
  color: var(--text);
  font-weight: 600;
  font-size: 4rem;
}
.formHeader > h2 {
  color: var(--secondary-text);
  font-weight: 300;
  font-size: medium;
}

.formBody {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 1.5rem 0;
  gap: 20px;
}

.formBody > h4 {
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
  color: #9d5ce9;
}

.formBody > h4:hover {
  cursor: pointer;
}

.divider {
  padding-top: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(182, 182, 182);
  background-color: var(--secondary-text);
}

.link {
  display: flex;
  width: 100%;
  text-decoration: none;
}
.loginButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginButtons > section {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

.loginButtons > h4 {
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

.loginButtons > h4 > span {
  font-weight: 600;
  color: #9d5ce9;
}

.loginButtons > h4 > span:hover {
  cursor: pointer;
}

.rememberMe {
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 10px;
}

.formFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}
